@model GreenElectric.EE.Servicios.Permisos.Familia

@{
    ViewBag.Title = "AgregarFamilia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />
<div>
    <h1 style="color:white">Agregar Permisos o Roles para Administración</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <form action="/action_page.php">
            
        <h2 style="color:white">
            <label for="cars">Seleccione un rol</label>
        </h2>
            <select id="cars" name="cars" class="form-control">
                <option value="volvo"> </option>
                <option value="saab">Auditor</option>
                <option value="fiat">Tecnico</option>
                <option value="audi">Audi</option>
            </select>
            <br />
            <input type="submit" value="Agregar" class="BotonAzul" />
</form>

    <form action="/action_page.php">
        <h2 style="color:white"> <label for="cars"> Seleccione un Permiso</label></h2>
        <select id="cars" name="cars" class="form-control">
            <option value="volvo"> </option>
            <option value="saab">Ventas</option>
            <option value="fiat">Backup</option>

        </select>
        <br />
        <input type="submit" value="Agregar" class="BotonAzul" />
    </form>



      

    }
</div>

